/* style.css */
body{
  background: rgb(240,240,230);
    /*text-align: center;*/
  }


#banner{
  text-align: center;
  background-image: url("https://static.pexels.com/photos/185764/pexels-photo-185764.jpeg");
  background-size: cover;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #FABC3C;
  text-shadow: 2px 2px 5px black;
  margin-bottom: 50px;

}
#banner h1 {
  color: #FABC3C;
  font-family: 'Sanchez', serif;
  font-size: 40px;
}
#banner p {
  color: rgb(255,255,254);
  opacity: 1.0;
  font-size: 30px;
  font-weight: lighter;
  font-family: 'Sanchez', serif;
}



#footer{
  padding: 30px;
  background: rgb(30, 30, 30);
  color: #FABC3C;
  font-family: 'Sanchez', serif;
  
}
.card{
  padding: 50px;
  font-weight: normal;
}

.card{
  text-align: center;
}

#attrape_coeur{
font-family: 'Source Sans Pro', sans-serif;
}

#martin_eden{
font-family: 'Vidaloka', serif;
}

#bonjour_tristesse{
font-family: 'Copse', serif;
}

#bel_ami{
  font-family: 'Lora', serif;
}

#cent_ans{
font-family: 'Josefin Sans', sans-serif;
}

#regime_sec{
  font-family: 'Vidaloka', serif;
}

/*#club_opti{

}*/

#down{
  font-family: 'Josefin Sans', sans-serif;
}

#footer{
  text-align: center;
}

#footer a {
  color: white;
  font-size: 50px;

}
#footer a:hover {
  color: #FABC3C;
}

#footer a {
  color: white;
  font-size: 50px;
}
#footer a:hover {
  color: #FABC3C;
}

/*
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Lora', serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Vidaloka', serif;
font-family: 'Copse', serif;
*/


